@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.bg-primary {
  background: #0f172a;
}

.bg-secondary {
  background: #1e293b;
}

.bg-accent {
  background: #ff9036;
}

.text-accent {
  color: #ff9036;
}

nav li a {
  @apply px-2 py-5 font-bold text-lg leading-9;
}

nav li a:hover {
  color: #ff9036;
}

.mobile-nav {
  @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
}

/* Home */
h1 {
  font-family: "Fredericka the Great", cursive;
  line-height: 1.5 !important;
}
