@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.bg-primary {
  background: #0F172A;
}

.bg-secondary {
  background: #1E293B;
}

.bg-accent {
  background: #FF9036;
}

.text-accent {
  color: #FF9036;
}

nav li a {
  @apply px-2 py-5 font-bold text-lg leading-9;
}

nav li a:hover {
  color: #FF9036;
}

.mobile-nav {
  @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
}

/* Home */
h1 {
  font-family: 'Fredericka the Great', cursive;
  line-height: 1.5 !important;
}
